<%= form_for(@reading) do |f| %>
  <% if @reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% @reading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :intensity %><br />
    <%= f.number_field :intensity %>
  </div>
  <div class="field">
    <%= f.label :rise_id %><br />
    <%= f.number_field :rise_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
