<!DOCTYPE html>
<html>
<head>
  <title>BreadRiseLogger</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%= javascript_include_tag "jquery.flot.js" %>
  <%= javascript_include_tag "underscore-min.js" %>
</head>
<body>

<%= yield %>

</body>
</html>
